@import '../../styles/variables';

.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 0.8rem 0;
    background-color: rgba($secondary-dark, 0.6);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    z-index: 1000;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
    transition: background-color 0.3s ease;
}

.navContainer {
    max-width: $container-max-width;
    margin: 0 auto;
    padding: 0 $section-padding-x;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.logo {
    img {
        height: 40px;
        width: auto;
        display: block;
    }
}

.logoImage {
    height: 40px;
    width: auto;
    display: block;
    transition: opacity 0.3s ease;
}

.navLinks {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
    gap: 1.5rem;

    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);

    @media (max-width: $breakpoint-md) {
        gap: 1rem;
    }

    li {
        a {
            font-family: $font-body;
            color: $text-secondary;
            text-decoration: none;
            font-size: 0.95rem;
            font-weight: 500;
            padding: 0.5rem 0.2rem;
            position: relative;
            transition: color 0.3s ease;

            &::after {
                content: '';
                position: absolute;
                width: 0;
                height: 2px;
                bottom: 0;
                left: 0;
                background-color: $accent-color;
                transition: width 0.3s ease;
            }

            &:hover {
                color: $text-light;

                &::after {
                    width: 100%;
                }
            }

        }
    }
}

.githubLink {
    display: inline-block;
    color: $text-light;

    .githubIcon {
        width: 1.5rem;
        height: 1.5rem;
        opacity: 1;
        transition-property: opacity;
        transition-duration: 300ms;
        transition-timing-function: ease-in-out;
    }

    &:hover {
        .githubIcon {
            opacity: 0.5;
        }
    }
}

@media (max-width: $breakpoint-md) {
    .navContainer {
    }
    .githubLink {
        display: none;
    }
}